*{
	margin:0;
	padding:0;
	color: #fafafa;
	box-sizing: border-box;
}

body{
	background-color: #69140e;
	background-size: contain;
}

header{
	padding:1rem;
	position:sticky;
	top:0;
	z-index:100;
	background-color:#3c1518;
	
}

header nav ul{
	display: flex;
	gap: 2rem;
	
	justify-content: end;
}

nav li{
    list-style: none;
    text-align:center;
	transition: all 0.3s;
	border-radius:5px;
	transition:all 0.3s;
	
}

nav li a{
    text-decoration:none; 
	text-transform: uppercase;
	color:white;
	transition: all 0.3s;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 3px;
}
nav li:hover a{
	color:rgb(255, 255, 255, .6);
	text-decoration:none;
	border-bottom: 1px solid;
	
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap:2rem;
	margin-top: 2rem;
}


.contenedor{
	border-radius: 15px;
	width: 75vw;
	padding:20px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.9);
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contenedor h5{
	font-size: 30px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 100px;
}

h4{
	margin:0 auto;
}

section{
	padding: 1rem;
	justify-content: space-between;
	display: flex;
	
}

.carta{
	width: 70%;
	box-shadow: 0 0 10px 1px black;
	padding:1rem;
	border-radius: 15px;
}

.carta h5{
	width:100%;
	margin: 0
}

.gallery{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top:5rem;
	margin-bottom:5rem;
	
}

.gallery img{
	width: 450px;
	border: 2px solid #a44200;
	box-shadow: 0 0 15px 1px #a44200;
	border-radius: 50px;
}

aside{
	position: sticky;
	top: 100;
	box-shadow: 0 0 10px black;
	height: 25vh;
	width: 15rem;
	display: flex;
	align-items: center;
	border-radius: 5px;
	
}

section h5{
	width: 40vw;	
}

.menu-bar{
	display:none;
}


#contenido{
	padding-top:80px;
}


main img{
	height:99%;
	width:15%;
	float:left;
}
.main__title{
	text-align:center;
	text-shadow: 0.1em 0.1em #333;
	text-transform:uppercase;
}

.scrolleado{
	padding:15px;
	border-radius: 15px;
	color: black;
	position: fixed;
	right: 100;
	bottom:100;
}

.esperando{
	text-align: center;
	padding:10rem;
	width: 50vw;
	margin:2rem;
	box-shadow: 0 0 15px 1px black;

}

 @media (max-width: 800px){
	header{
		z-index:100;
		padding:0;
	}

	header nav{
		width: 50vw;
		height: 91vh;
		position:fixed;
		left:-100%;
		background-color: indianred;
	}
	header nav ul{
		height: 100%;
		flex-direction: column;
		justify-content: start;
		padding: 40px;
	}
	header nav ul li{
		width: auto;
		border: 0px solid;
		text-align:justify;
	}
	.menu-bar{
		display:block;
		width:100%;
	}
	.menu-bar .menu-btn{
		display:block;
		padding:20px;
		background-color: rgba(27, 92, 255 ,0.2);
		box-sizing:border-box;
	}
	.menu-bar span{
		float:right;
		margin-right:5%;
	}

	.contenedor{
		margin-top: 10%;
	}

	.inicio{
		padding: 10px;
	}
	
}